Enter Name : {{input type = "text" placeholder = "Enter the name" value = name}}
<div class="detail">
<button class="button" {{on "click" (fn this.show this.current.count)}}>EDIT</button>
<button {{action "submit"}}>submit</button>
</div>